version: "3.9"

services:
  lexi-backend:
    environment:
      LEX_COMFY_URL: http://comfy-sd:8188
      LEX_USE_COMFY_ONLY: "1"
      COMFY_URL: http://comfy-sd:8188
      IMAGE_API_BASE: http://comfy-sd:8188
      LEX_AVATAR_DIR: /app/static/avatars
      LEX_PUBLIC_BASE: https://api.lexicompanion.com
